<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023158542442-ddb3tmtenivvvop9dhdr5hinic2iomu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023158542442-ddb3tmtenivvvop9dhdr5hinic2iomu4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023158542442-7sgvlascv2a77ok0lrbtjchlfb7cvjje.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2HGu1fD-tqJlMIpPSQxWeX61lVrVebs0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023158542442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudeepacharjee.urbanservice</string>
	<key>PROJECT_ID</key>
	<string>urbanservices-d34d2</string>
	<key>STORAGE_BUCKET</key>
	<string>urbanservices-d34d2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023158542442:ios:3d1ec0b954c730abaaaa13</string>
	<key>DATABASE_URL</key>
	<string>https://urbanservices-d34d2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>